.filter {
  grid-area: filter;
}

.title {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 18px;
  padding: 18px 20px 0;
}

.checkboxes {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Item */

.checkbox:not(:last-child) {
  margin-bottom: 5px;
}
